{% extends 'base.html.twig' %}
{% block title %}Nieuwe Symphonic eMotions Set{% endblock %}

{% block body %}
<div class="wrap">
    <div class="card">
        <h1 class="title">Nieuwe Symphonic eMotions Set</h1>
        <p class="subtitle">Hoe gaat deze set heten?</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn" type="submit">Opslaan</button>
        <a class="btn secondary" href="{{ path('app_dashboard') }}" style="margin-left:8px">Terug</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
